.errorDiv{
    color: #d4403a;
    font-size: 16px;
}
input[type="number"][data-id="search-by-aba-input"]::-webkit-outer-spin-button,
input[type="number"][data-id="search-by-aba-input"]::-webkit-inner-spin-button {

    display: none;
    margin: 0;
}
input[type="number"][data-id="search-by-aba-input"] {
    appearance: textfield !important;
    -moz-appearance: textfield !important;
    -webkit-appearance: textfield !important;
}
.THIS .spins::after {
    position: absolute;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.h2, h2 {
    font-weight: 700;
    font-size: 34px;
    margin-top: 22px;
    margin-bottom: 11px;
}
.h1, h1 {
    font-size: 41px;
}
p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
}
th.level01 {
    background-color: #06c;
    color: #fff;
}
th.level02 {
    background-color: #e2f0ff;
    color: #333;
}
td.field02 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #fff;
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: left;
}
table {
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
@media (min-width: 768px) {.col-sm-12 {
    width: 100%;
    }
}

.search-label {
    font-size: 14px;
    font-weight: 700;
    width: 100px;
}

button {
    background: #036;
    font-size: 16px;
    border: hidden;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    transition: all .3s ease 0s;
}

button:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
}

button:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
    text-decoration: none;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

button:active {
    color: #333;
    background-color: #e6e6e6;
    background-image: none;
    border-color: #adadad;
    outline: 0;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

button:hover {
    background: #3472bf;
    color: #fff;
    border-color: #adadad;
    text-decoration: none;
}

.heading {
    /* color: rgb(148 163 184);  */
    color: black;
    font-weight: 300;
    font-size: 34px;
}