.slds-card{
	position:absolute;
}
.position{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 60px;
	padding-bottom: 60px;
}
h1{
	font-size: 41px;
	font-family: inherit;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
	display: block;
}
table{
	display: block;
	font-size: 16px;
	position:relative;
}

.heading {
  background-color:#06c;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subheading {
  background-color: #e2f0ff;
  color: #333;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 700;
}

.fieldValuesDiv {
padding: 8px;
vertical-align: top;
border-top: 1px solid #ddd;
text-align: left;
width: 50%;
}

.tableDiv{
	display: block;
	font-size: 16px;
	position:relative;
}

.subheading:hover{
    background-color:#c5e5ba;
}

.heading:hover{
    background-color:#c5e5ba;
}

.applyHover:hover{
    background-color:#c5e5ba;
}

.custom-slds-gutter{
    padding-left: 10px;
    padding-right: 10px;
    margin-right: calc(0 * var(--lwc-spacingSmall,0.75rem));
    margin-left: calc(0 * var(--lwc-spacingSmall,0.75rem));
}