.errorDiv{
    color: #d4403a;
    font-size: 16px;
}
input[type="number"][data-id="search-by-aba-input"]::-webkit-outer-spin-button,
input[type="number"][data-id="search-by-aba-input"]::-webkit-inner-spin-button {

    display: none;
    margin: 0;
}
input[type="number"][data-id="search-by-aba-input"] {
    appearance: textfield !important;
    -moz-appearance: textfield !important;
    -webkit-appearance: textfield !important;
}
.THIS .spins::after {
    position: absolute;
    content: 'Please wait while loading';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.h1, h1 {
    font-size: 41px;
}
p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 22px;
}
th.level01 {
    background-color: #06c;
    color: #fff;
}
th.level02 {
    background-color: #e2f0ff;
    color: #333;
}
td.field02 {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    background-color: #fff;
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
th {
    text-align: left;
}
table {
    border-bottom: 1px solid #ddd;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
@media (min-width: 768px) .col-sm-12 {
    width: 100%;
}



.bg {
    background-color:white;
    padding:15px;
}

.heading {
    color: rgb(148 163 184); 
    font-weight: 300;
}

.border {
    border-bottom: 1pt solid rgb(203 213 225);
}

td:nth-child(1) { 
    background-color: rgb(219 234 254);
    font-weight: 600;
    padding-top: 8px;
    padding-left: 8px;
    vertical-align:top;
    width: 30%;
}

.tableHeader {
    background-color:#06c;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
}

.tableData {
    color: #000;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 8px;  
}

.text-2xl{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.font-semibold{
    font-weight: 600;
}

.font-light {
    font-weight: 300;
}

td {
    vertical-align: top;
    padding-top: 8px;
    padding-left: 8px;
}