.bg {
    background-color:white;
    padding:15px;
}

.heading {
    color: rgb(148 163 184); 
    font-weight: 300;
}

.border {
    border-bottom: 1pt solid rgb(203 213 225);
}

table {
    width: 100%;
}

th {
    background-color:#06c;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
}

td:first-child { 
    background-color: rgb(219 234 254);
    font-weight: 600;
    width: 25%;
}

td {
    color: #000;
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 20px;
    padding-left: 10px;  
    padding-right: 10px; 
    vertical-align:top;
}

.text-2xl{
    font-size: 1.5rem; /* 24px */
    line-height: 2rem; /* 32px */
}

.text-3xl{
    font-size: 1.875rem; /* 30px */
    line-height: 2.25rem; /* 36px */
}

.font-bold{
    font-weight: 650;
}

.font-light {
    font-weight: 300;
}